[Unit]
Description=API Portal Comunicaciones II
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/comu2-web/backend
ExecStart=/opt/comu2-web/backend/venv/bin/python3 /opt/comu2-web/backend/app.py
Restart=always

[Install]
WantedBy=multi-user.target